body {
  background-color: green;
}
h1 {
  color: red;
  font-family: Verdana;
  font-size: 300%;
}
p {
  color: blue;
  font-family: Courier;
  font-size: 160%;
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
}
